body > .head {
    height: 70px;
    background-color: #248447a3;
    box-shadow: -1px 2px 17px 0px #b3b3b3;
}
body > .head > .top-button {
    margin-right: 30px;
    float: right;
}
body > .head > .top-button > a {
    color: #000;
    text-decoration	:none;
    line-height: 70px;
    font-size: 25px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;

}
p {
    margin: 0px;
}
body {
    text-align: center;
    background-color: #fff;
}
body > .app > .contacts{
    width: 60%;
    margin: auto;
    margin-top: 3.5px;
    margin-bottom: 3.5px;

}
body > .app > .contacts > .title{
    padding: 10px;
    background-color: #6472c370;
    box-shadow: -2px 1px 9px #0000007a;
}
body > .app > .contacts > .content{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.13);
}
body > .app > .product {
    margin: 10px;
}
body .app > .history > .list {
    width: 70%;
    border: groove;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
body .app > .history> .list > .left {
    width: 5px;
    margin: 0px;
    float: left;
}
body .app > .review {
    width: 70%;
    border: groove;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
body .app > .review > .review-title {
    background-color: #248447a3;
    box-shadow: 0px 4px 20px 0px #00000047;

}
body .app > .review > .review-title > h3 {
    margin: 0px;
    height: 50px;
    line-height: 50px;
}
body .app > .review > .review-content {
    font-size: 20px;
}
.pure-form-aligned .pure-control-group label{
    text-align: center;

}
.pure-form-aligned .pure-control-group input, .pure-form-aligned .pure-control-group textarea{
    width: 100%;
}
.pure-form-aligned .pure-controls{
    margin: auto;
}
.scenario {
    width: 70%;
    margin: auto;
    margin-top: 20px;

    background-color: #000;
    box-shadow: 1px 5px 8px 3px #0000003d;


    text-align: center;
    color:#fff;

    border-radius: 5px;
    border: solid 1px #000;
}

.scenario > h3 > a {

    color:#fff;

}
.scenario > h3 {

    color:#fff;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
